div
    h1(data-hz-resource="HzLocution", data-opt-hz-locution-files="./assets/short.mp3", data-opt-hz-locution-delay="500") Test multiples audios
    p(data-hz-resource="HzLocution", data-opt-hz-locution-files="./assets/long.mp3") Otro audio
