include node:@haztivity/hz-navbar/src/_hzNavbar
include ../resources/hz-locution/_hzLocutionSubtitlesBar
div(data-hz-pages)
+hz-locution-subtitles-bar({
    toggleText: "Toggle Subtitles",
    subtitlesDisabled: false
})
+hz-navbar
