div
    h1 Audio when button is clicked
    button.locutionTrigger(data-hz-resource="HzAnim"
    data-opt-hz-anim-on="click"
    data-opt-hz-anim-do="transition.fadeIn"
    data-opt-hz-anim-with={duration:1000},
    data-opt-hz-anim-to=".target") Do to .target
    //- The locution will be auto executed when the button is clicked
    p.target(data-hz-resource="HzLocution", data-opt-hz-locution-files="./assets/long.mp3",  data-opt-hz-locution-play-on="click:.locutionTrigger", style="display:none") Here the text with locution