mixin hz-locution-subtitles-bar(toggleText = "Toggle")
    div.hz-locution-subtitles-bar(data-hz-component="HzLocutionSubtitlesBar")
        p.hz-locution-subtitles-bar__cue(data-hz-locution-subtitles-bar-cue)
        button.hz-locution-subtitles-bar__toggler(data-hz-locution-subtitles-bar-toggler)= toggleText
